.tag-container{
    background-color: #ff6060;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 0px 30px;
    border-radius: 10px;
}