.navbar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: auto;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 1240px;

    @media screen and (max-width: 1240px) {
        margin: 0px 20px;
        padding: 20px 0px;
    }
    @media screen and (max-width: 768px) {
        margin: 0px 30px;
        padding: 20px 0px; 
    }
}

.logo {
    height: 68px;

    @media screen and (max-width: 768px) {
        height: 46px;
    }
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    width: 300px;

    @media screen and (max-width: 768px){
        justify-content: flex-end;
        gap: 20px; 
        width: 190px;
    }
}

.link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    position: relative;

    &::after { 
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px; 
        width: 100%;
        height: 2px;
        background-color: black;
        visibility: hidden; 
        transition: all 0.1s ease; 
    }

    &:hover::after { 
        visibility: visible;
    }
    &:hover::after, &.active::after { 
        visibility: visible;
    }
    
    @media screen and (max-width: 768px) {
        font-size: 12px;
        text-transform: uppercase;
    }
}
