.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff6060;
    font-weight: bold;
    text-align: center;
    gap: 139px;
    margin-bottom: 139px;
    margin-top: 139px;
    
    h1{
        font-size: 288px;
        margin: 0px;
        text-align: center;
        display: inline-block;
        line-height: 0.75;

        @media screen and (max-width: 1024px) {
            font-size: 96px;
            
        }
    }
    h2{
        font-size: 36px;
        margin: 0px;
        .break{
            display: none;
        }
        @media screen and (max-width: 1024px) {
            font-size: 18px;
            width: 80%;
        }
        @media screen and (max-width: 768px) {
            .break{
                display: inline;
            }
            
        }

    }
    a{
        
        color: black;
        font-size: 18px;
        font-weight:500;

        @media screen and (max-width: 1024px){
            font-size: 14px;
        }
    }
}